.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: static;
    font-size: 2em;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-style: solid;
    border-width: 20px;
    border-color: violet;
    position: absolute;
    top: 15px; left: 220px;
    text-transform: uppercase
    
    
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    border-style: dashed;
    border-width: 20px;
    border-color: purple;
    position: absolute;
    top: 15px; left: 430px;

  }